{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <br />
    <p>Calc page</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}